.backgroundimage{
    background-image: url(../assets/home/scandinavian-interior-mockup-wall-decal-background\ 1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}